/**
 * General
 */
div.clearb {
clear:both;
}

div.page-navigation span, div.page-navigation div {
float:left;
}

div.page-navigation-quantity span,
div.page-navigation-quantity div {
float:left;
}

/**
 * First example
 */
#page-navigation1-top a,
#page-navigation1-bottom a,
#page-navigation1-quantity-top a,
#page-navigation1-quantity-bottom a {
margin:5px;
text-decoration:none;
color:rgb(70, 129, 117);
}

#page-navigation1-top a.page-navigation-current,
#page-navigation1-bottom a.page-navigation-current,
#page-navigation1-quantity-top a.page-navigation-quantity-current,
#page-navigation1-quantity-bottom a.page-navigation-quantity-current {
font-weight:bold;
font-size:1.2em;
}

#page-navigation1-top a.page-navigation-other,
#page-navigation1-bottom a.page-navigation-other,
#page-navigation1-quantity-top a.page-navigation-quantity-other,
#page-navigation1-quantity-bottom a.page-navigation-quantity-other {
font-weight:normal;
}

#virtual-pages1 div.page-block {
margin:5px 0px;
padding:5px;
border:1px solid rgb(206, 207, 208);
background:white;
}

#page-navigation1-top a.page-navigation-disabled,
#page-navigation1-bottom a.page-navigation-disabled {
color:rgb(215, 215, 215);
}

/**
 * Second example
 */
#page-navigation2-bottom a,
#page-navigation2-quantity-bottom a {
margin:10px;
text-decoration:none;
color:rgb(0, 19, 117);
}

#page-navigation2-bottom a.page-navigation-current,
#page-navigation2-quantity-bottom a.page-navigation-quantity-current {
color:red
}

#page-navigation2-bottom a.page-navigation-other,
#page-navigation2-quantity-bottom a.page-navigation-quantity-other {
font-style:italic;
}

#virtual-pages2 li.page-block {
margin:15px 0px;
padding:2px;
list-style-type:none;
}

#page-navigation2-bottom a.page-navigation-disabled {
color:rgb(215, 215, 215);
}

/**
 * Third example
 */
#page-navigation3-top a,
#page-navigation3-bottom a,
#page-navigation3-quantity-top a,
#page-navigation3-quantity-bottom a {
margin:20px;
text-decoration:none;
color:rgb(70, 129, 117);
}

#page-navigation3-top a.page-navigation-current,
#page-navigation3-bottom a.page-navigation-current,
#page-navigation3-quantity-top a.page-navigation-quantity-current,
#page-navigation3-quantity-bottom a.page-navigation-quantity-current {
font-weight:bold;
}

#page-navigation3-top a.page-navigation-other,
#page-navigation3-bottom a.page-navigation-other,
#page-navigation3-quantity-top a.page-navigation-quantity-other,
#page-navigation3-quantity-bottom a.page-navigation-quantity-other {
font-weight:normal;
}

#virtual-pages3 table  {
width:100%;
}

#virtual-pages3 table td, #virtual-pages3 table th  {
padding:3px;
text-align:center;
border-color:rgb(70, 129, 117);
border-style:solid;
border-spacing:0px;
}

#page-navigation3-top a.page-navigation-disabled,
#page-navigation3-bottom a.page-navigation-disabled {
color:rgb(215, 215, 215);
}